.wrapper
  = render 'header_index'
.main-index
  .search-link
    %h3.sagasu
      .sagasu-content
        Airbnbで探す
    .search-validation
      .accommodation
        .accommodation-content
          .accommodation-image
            = image_tag "accommodation.jpeg", alt: "accommodation", class: "accommodation-icon"
          .accommodation-char
            宿泊先
      .experience
        .experience-content
          .experience-image
            = image_tag "experience.jpeg", alt: "experience", class: "experience-icon"
          .experience-char
            経験
      .restaurant
        .restaurant-content
          .restaurant-image
            = image_tag "restaurant.jpeg", alt: "restaurant", class: "restaurant-icon"
          .restaurant-char
            レストラン
  %h3.airbnb-plus-sub
    Airbnb Plusが新登場
  .airbnb-plus-background
    = image_tag "AirbnbPlus-background.jpg", alt: "AirbnbPlus-background", class: "AirbnbPlus-background-icon"
    .airbnb-plus-contain
      .airbnb-plus-description
        %span.description-content
          クオリティと快適さが認定された、Airbnbの宿泊先の新グレード。
      .airbnb-plus-search
        %button.search-airbnb-plus
          .airbnb-plus-search-content
            Airbnb Plus認定済みリスティングを探す
    .airbnb-plus-logo
      = image_tag "airb_logo.svg", alt: "airb_logo", class: "airb_logo-icon"




